/* .post {
  width: 350px;
  margin: 20px auto;
  border-radius: 10px;
  text-align: center;
}

.post-image {
  width:300px;
  border-radius: 10px;
  margin-bottom: 10px;
 justify-content: center;
 align-items: center;
 
}

button {
  padding: 8px 15px;
  cursor: pointer;
}
h1{
  text-align: center;
}
p{
 font-size: medium;
} */